{% extends "layout.html" %}

{% block body %}
    <h1> About Us </h1>
    <p>Our Published Papers (OPP) is a open access journal publishers. Our goal is to have as many articles as possible published in this web journal. We encourage all authors and we want science to evolve more and more. All research papers are published by OPP and made available online with free and permanent access immediately after publication. Here we can also contac the author Come and be part of this community.
 </p>
{% endblock  %}