.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover
password.txt
Docker_Flask_PostgreSQL/.env
Docker_Flask_PostgreSQL/web/_config.py
Docker_Flask_PostgreSQL/web/__pycache__

